body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #27292d;
    color: #fff;
  }
  body  {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
  }
  table {
    text-align: center;
  }
  th {
    width: 200px;
  }
  body  h1 {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
  }
  body  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body  form label {
    font-size: 14px;
    font-weight: 700;
  }
  body  form button,
  body  form input {
    height: 36px;
    box-shadow:hsla(0, 0%, 100%, 0.35);
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 12px;
  }
  body  form input {
    background-color: transparent;
    border: 2px solid hsla(0, 0%, 100%, 0.35);
    color: inherit;
  }
  body  button {
    cursor: pointer;
    background-color: #a0a4d9;
    border: 1px solid #a0a4d9;
    color: #1f2023;
    font-weight: 700;
    outline: none;
    border-radius: 6px;
    width: 100px;
  }
  body  h2 {
    font-size: 22px;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.35);
    padding-bottom: 6px;
  }
  
  